<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>

     <!-- Common CSS -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&family=Space+Grotesk:wght@500;600;700&display=swap" rel="stylesheet">

    {% block extra_css %}{% endblock %}

</head>

<body>

    <!-- ✅ Shared Navbar -->
    {% include "navbar.html" %}

    <!-- ✅ Page Content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
