<nav class="navbar">
    <div class="nav-left">
        <div class="nav-logo">CBI</div>
        <div>
            <h3>Transcripts</h3>
        </div>
    </div>

    <div class="nav-right">
        <a href="/admin/dashboard" class="{{ 'active' if request.url.path == '/admin/dashboard' else '' }}">Dashboard</a>
        <a href="/admin/add-user" class="{{ 'active' if request.url.path == '/admin/add-user' else '' }}">Add User</a>
        <a href="/admin/transcripts" class="{{ 'active' if request.url.path == '/admin/transcripts' else '' }}">Transcriptions</a>
        <a href="/logout" class="logout">Logout</a>
    </div>
</nav>
